/* ===============================
   Urbanist Font Family
=============================== */

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}


:root {

    /* ========== ABSOLUTE COLORS ========== */
    --color-white: #FFFFFF;
    --color-black: #000000;

    /* ========== PURPLE SHADES ========== */
    --color-purple-60: #703BF7;
    --color-purple-65: #8254F8;
    --color-purple-70: #946CF9;
    --color-purple-75: #A685FA;
    --color-purple-90: #DBCEFD;
    --color-purple-95: #EDE7FE;
    --color-purple-97: #F4F0FE;
    --color-purple-99: #FBFAFF;

    /* ========== WHITE SHADES ========== */
    --color-white-90: #E4E4E7;
    --color-white-95: #F1F1F3;
    --color-white-97: #F7F7F8;
    --color-white-99: #FCFCFD;

    /* ========== GRAY SHADES ========== */
    --color-grey-8: #141414;
    --color-grey-10: #1A1A1A;
    --color-grey-15: #262626;
    --color-gray-20: #333333;
    --color-gray-30: #4D4D4D;
    --color-gray-40: #666666;
    --color-gray-50: #808080;
    --color-gray-60: #999999;

    /* ========== TYPOGRAPHY ========== */
    --font-primary: 'Urbanist', sans-serif;

    /* Font Weights */
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;


}

body {
  background-color: var(--color-grey-8);
  color: var(--color-white);
  font-family: var(--font-primary);
}

.container{
  width:90%;
  max-width:1200px;
  margin:auto;
}

.hero{
  padding:120px 0;
  text-align:center;
}

.site-header{
  background: var(--color-grey-10);
}

.site-header .container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 13px 0;
  font-size: 14px;
}

/* Banner Styles */
.top-banner{
    background:#111;
    color:#fff;
    padding:12px 0;
    font-size:14px;
}

.banner-inner{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.banner-text{
    margin:0;
}

.banner-link{
    margin-left:10px;
    color:#fff;
    font-weight:bold;
    text-decoration:underline;
}

.banner-link:hover{
    opacity:0.8;
}

.banner-close{
    position:absolute;
    right:0;
    background:none;
    border:none;
    color:#fff;
    font-size:20px;
    cursor:pointer;
    background-color: rgba(255, 255, 255, 0.201);
    border-radius: 100%;
}


/* Nav Stlyles  */

.main-nav {
    display:flex;
    align-items:center;
}

.nav-menu {
    display:flex;
    gap:30px;
    list-style:none;
    padding:0;
    margin:0;
}

.nav-menu a {
    text-decoration:none;
    color:var(--text-heading);
    font-weight:var(--weight-medium);
    transition:0.3s;
}

.nav-menu a:hover {
    color:var(--color-primary);
}

/* CTA Styles */
.site-header .header-cta {
    background: var(--color-grey-8);
    color: var(--color-white);
    padding:10px 20px;
    border:none;
    border-radius:4px;
    font-weight:var(--weight-medium);
    cursor:pointer;
    transition:0.3s;   

}

.site-header .header-cta a {
    color: var(--color-white);
    text-decoration:none;
}

.site-header .active {
    border: 1px solid var(--color-grey-15);
    padding-block: 14px;
    border-radius: 7px;
}


/* Hide Menu Toggle Button on Desktop  */
.menu-toggle {
    display:none;
}

/* Responsive Styles */
@media (max-width:768px) {
    .site-header .container {
        flex-direction:column;
        align-items:flex-start;
    }

    .nav-menu {
        display:none;
        flex-direction:column;
        width:100%;
        margin-top:10px;
    }

    .nav-menu.active {
        display:flex;
    }

    .menu-toggle {
        display:block;
        background:none;
        border:none;
        color:#fff;
        font-size:24px;
        cursor:pointer;
    }
}