/* ===============================
   Urbanist Font Family
=============================== */

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}


:root {

    /* ========== ABSOLUTE COLORS ========== */
    --color-white: #FFFFFF;
    --color-black: #000000;

    /* ========== PURPLE SHADES ========== */
    --color-purple-60: #703BF7;
    --color-purple-65: #8254F8;
    --color-purple-70: #946CF9;
    --color-purple-75: #A685FA;
    --color-purple-90: #DBCEFD;
    --color-purple-95: #EDE7FE;
    --color-purple-97: #F4F0FE;
    --color-purple-99: #FBFAFF;

    /* ========== WHITE SHADES ========== */
    --color-white-90: #E4E4E7;
    --color-white-95: #F1F1F3;
    --color-white-97: #F7F7F8;
    --color-white-99: #FCFCFD;

    /* ========== GRAY SHADES ========== */
    --color-grey-8: #141414;
    --color-grey-10: #1A1A1A;
    --color-grey-15: #262626;
    --color-gray-20: #333333;
    --color-gray-30: #4D4D4D;
    --color-gray-40: #666666;
    --color-gray-50: #808080;
    --color-gray-60: #999999;

    /* ========== TYPOGRAPHY ========== */
    --font-primary: 'Urbanist', sans-serif;

    /* Font Weights */
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-grey-8);
  color: var(--color-white);
  font-family: var(--font-primary);
  margin: 0;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.no-display {
    display: none !important;
}

/* ========== HEADER STYLES ========== */

.site-header{
  background: var(--color-grey-10);
}

.site-header .container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 0;
  font-size: 1rem;
}

/* ========== BANNER STYLES ========== */

.top-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('../images/abstract-one.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% center;
    color: #fff;
    padding: 5px 0;
    transition: all 0.3s ease;
}

.top-banner .container {
    justify-content: center;
    font-size: .8rem;
}

.banner-inner{
    display: flex;
    justify-content: start !important;
    align-items: start;
    flex-wrap: wrap;
    position: relative;
    margin-inline: 0;
    width: 100%;
}

.banner-text{
    margin: 0;
}

.banner-link{
    margin-left: 5px;
    color: #fff;
    font-weight: var(--weight-regular);
    text-decoration: underline;
}

.banner-link:hover{
    opacity: 0.8;
}

.banner-content {
    margin-left: 1rem;
}

.banner-close {
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.201);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 10px;
    width: 18px;
    height: 18px;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.banner-close img {
    width: 13px;
    height: 13px;
}

.banner-close:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* ========== LOGO STYLES ========== */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 35px;
    width: auto;
}

/* ========== NAVIGATION STYLES ========== */

.main-nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    transition: all 0.3s ease;
}

.nav-menu.active {
    display: flex;
    padding-block: 5rem;
    padding-top: 1rem
}

.nav-menu a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: var(--weight-medium);
    transition: 0.3s;
    padding: 14px 24px;
    border: 1px solid transparent;
    display: block;
}

.nav-menu a:hover {
    border: 1px solid var(--color-grey-15);
    border-radius: 10px;
    color: var(--color-white);
    background: var(--color-grey-8);
}

/* Active Menu Item */
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-parent > a,
.nav-menu .current-menu-ancestor > a {
    border: 1px solid var(--color-grey-15);
    border-radius: 10px;
    background: var(--color-grey-8);
    padding: 14px 24px;
}

/* Hover should override active */
.nav-menu li:hover > a {
    border: 1px solid var(--color-grey-15);
    border-radius: 10px;
    background: var(--color-grey-8);
}

/* When hovering any menu item,
   remove active highlight from the others */
.nav-menu:has(li:hover) 
li.current-menu-item:not(:hover) > a,
.nav-menu:has(li:hover) 
li.current-menu-parent:not(:hover) > a,
.nav-menu:has(li:hover) 
li.current-menu-ancestor:not(:hover) > a {
    background: transparent;
    border-color: transparent;
}

/* ========== MENU TOGGLE BUTTON ========== */

.menu-toggle {
    display: flex;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    margin-top: .3rem;
}

.menu-toggle img {
    width: 28px;
    height: 28px;
}

.nav-menu.active {
    position: absolute;
    top: 9rem;
    left: 0;
    width: 100%;
    background-color: var(--color-grey-10);
    z-index: 9999;
    height: 25%;
    overflow: hidden;
}


.mobile-menu {
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
    display: none;
}

.banner-close .mobile-menu .active {
    top: 30% !important;
    background-color: red !important;
}

.mobile-menu .active {
    display: block !important;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    z-index: 9999;
    height: fit-content !important;
}

.top-30 {
    top: 30%;
}

.mobile-menu .active a {
    display: block !important;
}

.nav-menu.active.top-hidden {
    top: 10%;
}

.nav-menu.active li {
    text-align: center;
}

.nav-menu.active li a {
    padding: 14px 0;
}

.nav-menu.active .current-menu-item > a,
.nav-menu.active .current-menu-parent > a,
.nav-menu.active .current-menu-ancestor > a {
    background: transparent;
    border-color: var(--color-purple-65);
    max-width: fit-content;
    margin: 0 auto;
    padding: 14px 24px;
}

/* ========== CTA BUTTON ========== */

.header-cta {
    display: none;
    align-items: center;
    justify-content: center;
    background: var(--color-grey-8);
    color: var(--color-white);
    padding: 14px 28px;
    border-radius: 12px;
    border: 1px solid var(--color-grey-15);
    font-weight: var(--weight-medium);
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.header-cta:hover {
    background: var(--color-grey-10);
    color: var(--color-white);
    border-color: var(--color-gray-20);
}

.mobile-nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100vw !important;
}

.mobile-nav-menu li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: var(--weight-semibold);
    color: var(--color-white);
    padding: 10px 0;
    display: block;
    transition: 0.3s ease;
}

/* Hover Effect */
.mobile-nav-menu li a:hover {
    color: var(--color-purple-60);
    transform: translateX(10px);
}
.mobile-menu .header-cta {
    text-align: center;
    display: none;
    width: fit-content;
    padding: 14px 28px;
    position: absolute;
    overflow: hidden;
}

.nav-menu a:hover {
    border: none;
    border-radius: none;
    color: none;
    background: transparent;
}

.mobile-menu .header-cta::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.096),
        transparent
    );
    animation: shine 3s infinite;
}

@keyframes shine {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

/* Modern Shine Effect */
.header-cta::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.096),
        transparent
    );
    transition: 0.5s;
}

.header-cta:hover::after {
    left: 100%;
}



/* ========== HERO HOME SECTION ========== */

.hero {
    padding: 40px 0;
}

.circle-icon {
    width: auto !important;
}

.hero-home .hero-grid {
    display: grid;
    grid-template-areas:
        "area1"
        "area2"
        "area3"
        "area4";

    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    max-width: 1200px;
    gap: 30px;
}

/* Assign Areas */
.hero-home .area-1 { grid-area: area1; }
.hero-home .area-2 { grid-area: area2; }
.hero-home .area-3 { grid-area: area3; }
.hero-home .area-4 { grid-area: area4; }

.hero-home .subcontainer {
    padding: 0;
    border-radius: 12px;

    min-width: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-wrap: anywhere;
    position: relative;
    z-index: 2;
}

.hero-home .subcontainer:first-child {
    padding: 0;
    z-index: 0;
    background: var(--color-grey-10);
    border: 1px solid var(--color-grey-15);
}

.hero-home .subcontainer:first-child img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-home .subcontainer:first-child img:nth-child(2) {
    width: 100%;
    height: auto;
    max-width: 740px;
    display: block;
    margin: auto;
    position: relative;
    z-index: 1;
}

.hero-home .subcontainer:first-child img:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    /* height: 100%; */
    max-width: 100px;
    z-index: 2;
}

.hero-home .subcontainer:nth-child(2) {
    padding: 20px 0;
    font-weight: 300;
}

.hero-home .subcontainer h2  {
    font-size: .9rem;
    color: var(--color-gray-60);
    font-weight: 300;
}

.hero-home .subcontainer:nth-child(3) .button-group {
    display: grid;
    grid-template-columns: 1fr;   /* Mobile default */
    gap: 15px;
    width: 100%;
}

/* Buttons */
.hero-home .subcontainer:nth-child(3) .button-group button {
    padding: 0;
    border: none;
    background: none;
}

/* Style the link like a button */
.hero-home .subcontainer:nth-child(3) .button-group .cta-button {
    display: block;
    text-align: center;
    padding: 14px 20px;
    background: var(--color-purple-60);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s ease;
}

.hero-home .subcontainer:nth-child(3) .button-group .cta-button.first {
    background: transparent;
    border: 1px solid var(--color-grey-15);
    color: var(--color-white);
}

.hero-home .subcontainer:nth-child(3) .button-group .cta-button:hover {
    opacity: 0.85;
    transform: translateY(-2px);
}

.area-4 .cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* ✅ 2 columns */
    gap: 12px;
}


/* ========== HERO Services SECTION ========== */

.hero-services {
    padding: 20px 0;
}

/* Card Styling */
.area-4 .card {
    background: var(--color-grey-10);
    padding: 20px 0 5px;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--color-grey-15);
}

/* Card Numbers */
.area-4 .card h3 {
    font-size: 1.8rem;
    margin: 0;
    color: var(--color-white);
}

/* Card Text */
.area-4 .card p {
    font-size: .9rem;
    color: var(--color-gray-60);
}

.area-4 .card:last-child {
    grid-column: span 2;
}


.info-subsection {
    border: 1px solid var(--color-grey-15);
    padding: 24px !important;
    background-color: var(--color-grey-8);
    box-shadow: 0 0 0 6px #191919;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 30px !important;
}

.info-subsection.info-achievements h3 {
    font-size: 1.3rem;    
}

.values-card {
    background: transparent;
    padding: 10px 5px;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid var(--color-grey-15);
    min-height: 100px;
}

.icon-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.icon-wrapper h3 {
    margin-block: 0;
    font-weight: 400;
}

.icon-wrapper .icon-container {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-purple-60);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.hero-contact .area-4 .card:last-child {
    grid-column: span 1;
}

.hero-contact .area-4 .cards-grid {
    border: 1px solid var(--color-grey-15);
    padding: 10px !important;
    border-radius: 12px;
    box-shadow: 0 0 0 4px #191919;
}

.hero-contact .area-4 .cards-grid .card {
    padding: 20px 14px !important;
    position: relative;
}

.hero-contact .area-4 .cards-grid .card .go-to {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 26px;
    height: 26px;
}

.hero-contact .area-4 .cards-grid .card h3 {
    font-size: 14px;
}

.hero-contact .icon-wrapper {
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.hero-contact .icon-wrapper .icon-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-contact .icon-wrapper .icon-container img {
    width: 20px;
    height: 20px;
}

.values-description {
    font-size: .9rem;
    color: var(--color-gray-60);
    margin-top: 10px;
    text-align: left;
    min-height: 100px;
}

.section-info-grid {
    gap: 0px !important;
}

.section-info-grid .area-1 {
    display: none;
}

.section-info {
    padding-top: 10px;
}

.info-navigating {
    padding: 0 !important;
    box-shadow: none;
    border: none;
}
.info-navigating .values-card {
    border: none;
    padding: 10px;
    min-height: auto;
    border-radius: 0;
}

.info-navigating .step-header {
    position: relative;
    border-bottom: 1px solid var(--color-grey-15);
    text-align: left;
    padding-block: 14px;
    padding-inline: 16px;
    overflow: hidden;
    border-left: 1px transparent;
    border-bottom-right-radius: 0;
}

/* Bottom-left glow */
.info-navigating .step-header::before {
    content: "";
    position: absolute;

    bottom: 0;
    left: 0;

    width: 80px;
    height: 80px;

    background: radial-gradient(
        circle at bottom left,
        var(--color-purple-65) 0%,
        transparent 60%
    );

    opacity: 0.6;

    pointer-events: none;
}

.info-navigating .step-header h3 {
    font-size: 1.1rem;
    margin: 0;
    font-weight: 400;
    /* color: var(--color-purple-60); */
}

.info-navigating .content-wrapper {
    background: linear-gradient(132deg, #703bf773 0%, #00000000 10%);
    padding-inline: 16px;
    border-image: linear-gradient(90deg, #703BF7 0%, #703BF7 40%) 1;
    border: 1.4px solid var(--color-grey-15);
    border-top: 0;
    border-radius: 0 9px 9px 9px;
    padding: 30px;
    height: 100%;
}

.info-navigating .content-wrapper p {
    margin-block: 0;
}

.info-navigating .content-wrapper .icon-wrapper h4 {
    margin: 0;
}



.team-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.team-card {
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid var(--color-grey-15);
}

.team-card h3 {
    margin: 0;
}

.team-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    display: block;
}

.team-section {
    border-radius: 0;
    box-shadow: none;
    border: none;
    padding: 0 !important;
}

.team-section .container {
    width: 100%;
}

.team-section .values-card {
    padding: 0;
    border: none
}

.team-card .team-info {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.team-card .team-info p {
    margin: 0;
    color: var(--color-gray-60);
    margin-bottom: 10px;
}

.team-socials {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.team-card .team-socials a {
    text-decoration: none;
    background: var(--color-purple-60);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-card .team-info .input-group {
    border: 1px solid var(--color-grey-15);
    background-color: var(--color-grey-10);
    padding: 10px 15px;
    border-radius: 100px;
    display: flex;
    margin-top: 10px;
}

.team-card .team-info .input-group input {
    border: none;
    background: transparent;
    color: var(--color-white);
    outline: none;
    width: 100%;
    font-size: .9rem;
    padding-left: 10px;
}

.team-card .team-info .input-group .subscribe-button {
    background: var(--color-purple-60);
    border: none;
    color: #fff;
    padding: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.team-card .team-info .input-group .subscribe-button img {
    width: 20px;
    height: 20px;
}

/* ========== SERVICES STYLES ========== */
.service-subsection {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.service-subsection .values-card {
    border: 1.5px solid var(--color-grey-15);
    padding: 22px;
    border-radius: 15px;
    background-color: var(--color-grey-10);
}

.service-subsection .values-card .icon-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.service-subsection .values-card .icon-wrapper img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    flex-shrink: 0;
}

.service-subsection .values-card .icon-wrapper .icon-container {
    border-color: #6329f6e8;
}

.service-subsection .values-card .values-description {
    margin-top: 0;
    font-size: .95rem;
    color: var(--color-gray-50);
}


/* ===============================
   Testimonials Section
=============================== */

.testimonials-section {
    padding: 80px 20px;
}

.testimonials-section h2 {
    text-align: center;
    margin-bottom: 50px;
}


.testimonials-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

/* ===============================
   Testimonial Card
=============================== */

.testimonial-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Stars */
.testimonial-stars {
    display: flex;
    gap: 6px;
}

.star {
    font-size: 18px;
    color: #666;
}

.star.filled {
    color: #703BF7;
}

/* Title */
.testimonial-title {
    margin: 0;
    font-weight: 600;
    text-align: left;
    font-size: 1.2rem;
}

/* Content */
.testimonial-content {
    font-size: 1rem;
    text-align: left;
    color: #ccc;
}

.testimonial-card p {
    margin: 0;
}

/* User */
.testimonial-user {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 12px;
    margin-top: 10px;
}
.testimonial-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.testimonial-user p {
    margin: 0;
    color: var(--color-gray-60);
    font-size: 13px;
}

.testimonial-image img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-name {
    font-weight: 600;
}

.testimonial-location {
    font-size: 13px;
    color: #aaa;
}

.testimonials-container {
    padding: 0 !important;
    border: 0 !important;
    background: transparent !important;
}

.contact-form .area-3 {
    border: 1px solid var(--color-grey-15);
    padding: 20px ;
}

.contact-form .area-3 form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form .area-3 form .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form .area-3 form input,
.contact-form .area-3 form textarea, .contact-form .area-3 form select {
    border: 1px solid var(--color-grey-15);
    padding: 16px;
    border-radius: 6px;
    background: var(--color-grey-10);
    color: var(--color-white);
    outline: none;
    transition: all .1s ease-in;
}

.contact-form .area-3 form textarea {
    resize: vertical;
}

.contact-form .area-3 form .form-group > *:not(:focus), .contact-form .area-3 form select:not(:focus) {
    outline: 1px solid transparent;
}

.contact-form .area-3 form .form-group > *:focus {
    outline: 1px solid var(--color-purple-60);
}

.contact-form .area-3 form::placeholder {
    color: var(--color-gray-40);
}

.contact-form .area-3 form .agreement {
    flex-direction: row;
    align-items: center;

}
.contact-form .area-3 form .agreement input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: 1px solid var(--color-grey-15);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    padding: 10px;
    background-color: var(--color-grey-10);
}

.contact-form .area-3 form .agreement input[type="checkbox"]:checked {
    background-color: var(--color-purple-60);
    border-color: var(--color-purple-60);
}

.contact-form .area-3 form .agreement input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 7px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.contact-form .area-3 form .agreement label {
    color: var(--color-gray-60);
    font-size: 14px;
}

.contact-form .area-3 form .submit-button {
    background-color: var(--color-purple-60);
    color: var(--color-white);
    border: none;
    padding: 14px 34px;
    border-radius: 6px;
    font-weight: var(--weight-medium);
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter-card {
    padding: 0 !important;
}

.contact-form .filter-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: var(--color-grey-10);
    border-radius: 10px;
    list-style-type: none;
    max-width: 400px;
    margin-block: 0 10px;
}

.filter-container li {
    flex: 1;
    padding: 20px !important;
    border-radius: 6px;
    inset: 1px;
    border: 1px solid var(--color-grey-15);
    background-color: transparent;
    color: var(--color-white);
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filter-container li:hover,.filter-container li.active {
    background-color: var(--color-grey-8);
}

.contact-form .values-card {
    gap: 20px;
}

.contact-form .values-card .content-wrapper {
    padding: 24px;
    border: 1px solid var(--color-grey-15);
    background-color: transparent;
    border-radius: 8px;
    gap: 24px;
}

.contact-form .values-card .content-wrapper .icon-wrapper {
    flex-direction: column;
    align-items: start;
    gap: 4px;
}

.contact-form .values-card .content-wrapper .icon-wrapper h5 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.contact-form .values-card .content-wrapper .icon-wrapper .location {
    font-weight: var(--weight-semibold);
    font-size: 1.2rem;
}

.contact-form .values-card .content-wrapper .tags {
    margin-top: 24px !important;
}

.contact-form .values-card .content-wrapper .tags ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.contact-form .values-card .content-wrapper .tags ul li {
    padding: 10px 16px;
    background-color: var(--color-grey-10);
    border: 1px solid var(--color-grey-15);
    color: var(--color-white);
    border-radius: 28px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    gap: 6px;
}


.contact-form .values-card .content-wrapper .tags ul li img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.home-section .hero-grid{
    gap: 0 !important;
}

.contact-form .values-card .content-wrapper .get-direction-button {
    display: flex;
    justify-content: center;
    background-color: var(--color-purple-60);
    color: var(--color-white);
    border: none;
    padding: 14px 34px;
    border-radius: 6px;
    margin-top: 10px;
    font-weight: var(--weight-medium);
    cursor: pointer;
    text-decoration: none !important;
    transition: all 0.3s ease;
}



.carousel {
  max-width: 1200px;
  margin: 0 auto;
  background: transparent;
  padding: 20px 0;
  border-radius: 12px;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease;
  
}

.slide {
    min-width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--color-grey-8);
    border: 1px solid var(--color-grey-15);
    border-radius: 12px;
}

.slide-content {
  background: transparent;
  padding: 15px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.image-container {
  height: 200px;
  background: #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.carousel-footer {
  display: flex;
  justify-content:space-between;
  width: 100%;
  margin-top: 15px;
}

.carousel-footer #counter {
  display: flex;
  gap: 10px;
}

.current-page {
    font-weight: bold;
    color: var(--color-purple-60);
}

.controls button {
    margin-left: 8px;
    padding: 0;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: 1px solid var(--color-grey-15);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls button img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}


.carousel .text-content p {
    color: var(--color-gray-60)
}

.price-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    overflow: hidden;
}

.price-action .price {
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
}

.price p {
    color: var(--color-gray-60);
    font-size: 14px;
}

.price p, h4 {
    margin: 0;
}

.price-action .action-btn {
    background-color: var(--color-purple-60);
    color: var(--color-white);
    padding: 14px;
    box-sizing: border-box;
    border-radius: 8px;
    padding-block: 15px;
    border: none;
    text-decoration: none !important;
}





/* ========== FOOTER STYLES ========== */

.footer {
  background: #0f172a;
  color: #cbd5e1;
  padding: 40px 20px;
  position: relative;
  overflow: hidden;
}

/* Background Text */
.footer-bg-text {
  position: absolute;
  font-size: 15vw;
  font-weight: bold;
  opacity: 0.05;
  color: #2c9c49;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.site-footer .container {
    min-width: 100%;
}

/* Container */
.footer-container {
    max-width: 1200px;
    margin: auto;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
    align-items: start;
    margin: 50px auto;
    overflow: hidden;
    padding-inline: 2.3rem;
}

/* Logo */
.footer-logo {
  height: 40px;
  transition: 0.3s;
}

/* Subscribe Form */
.footer-subscribe {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.footer-subscribe input {
  flex: 1;
  min-width: 200px;
  padding: 12px 12px;
  border: 1px solid rgba(255,255,255,0.2);
  background: transparent;
  color: #fff;
  border-radius: 6px;
  outline: none;
}

.footer-subscribe input::placeholder {
  color: rgba(255,255,255,0.5);
}

.footer-subscribe button {
  padding: 10px 18px;
  border: none;
  background: var(--color-purple-60);
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-subscribe button:hover {
  opacity: 0.8;
}

/* Grid */
.footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    position: relative;
}

/* Vertical Line in the Middle */
.footer-grid::before {
    content: "";
    position: absolute;
    top: 62%;
    left: 50%;
    width: 1px;
    height: 75%;
    background: rgba(255, 255, 255, 0.1);
    transform: translate(-50%, -50%);
}

.footer-card {
    border-bottom: 1px solid var(--color-grey-15);
}

.footer-card h3 {
  color: var(--color-gray-60);
  margin-bottom: 15px;
}

.footer-card ul {
  list-style: none;
  padding: 0;
}

.footer-card ul li {
  margin-bottom: 20px;
}

.footer-card ul li a {
  text-decoration: none;
  color: inherit;
  font-weight: var(--weight-medium);
  transition: 0.3s;
}

.footer-card ul li a:hover {
  color: var(--color-purple-60);
  transform: translateX(5px);
  display: inline-block;
}

/* Bottom */
.footer-bottom-wrapper {
  width: 100%;
  background-color: var(--color-grey-10);
  padding: 10px 0;
  margin-top: 60px;
}

.footer-bottom-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    padding-top: 10px;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-social .social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--color-grey-8);
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease;
    margin: 0 10px;
}

.footer-social .social-link:hover {
    background: var(--color-purple-60);
    color: #fff;
    transform: translateY(-3px);
}

.footer-social .social-link img {
  width: 20px;
  height: 20px;
}

.footer-cta {
  background-color: var(--color-grey-8);
  padding: 80px 20px;
  text-align: center;
}

.footer-cta-container {
  max-width: 900px;
  margin: 0 auto;
}

.footer-cta-title {
  color: var(--color-white);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-cta-text {
  color: var(--color-gray-60);
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 35px;
}

.footer-cta-btn {
    display: inline-block;
    background-color: var(--color-purple-65);
    color: var(--color-white);
    padding: 14px 40px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s ease;
}

.footer-cta-btn:hover {
  background-color: var(--color-purple-70);
  transform: translateY(-2px);
}


.info-section .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.custom-button {
    padding: 18px 24px;
    background-color: var(--color-grey-10);
    border: 1px solid var(--color-grey-15);
    border-radius: 10px;
    color: var(--color-white);
}


/* ==============================
   Action Card
============================== */

.action-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: #1a1a1a;
    border-radius: 16px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
}

.action-card:hover {
    transform: translateY(-5px);
}

/* ==============================
   Circular Icon Container
============================== */

.action-card__icon-wrapper {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

/* Icon inside the circle */
.action-card__icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.filter-container {
    width: 100%;
    padding: 20px;
    background-color: transparent;
    padding: 1rem !important;
    position: relative;
    display: grid;
    gap: 20px;
}

.filter-container .search-bar {
    background-color: var(--color-grey-8);
    border: 1px solid var(--color-grey-15);
    box-shadow: 0 0 0 4px #191919;
    display: flex;
    padding: 10px;
    border-radius: 12px;
}

.filter-container .search-bar .search-button {
    background-color: var(--color-purple-60);
    border: none;
    padding: 14px 20px;
    padding: 0;
    width: 60px;
    height: 44px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-container .search-bar .search-button img {
    width: 20px !important;
    height: 20px !important;
    position: relative !important;
}

.filter-container .search-bar input {
    background-color: transparent;
    border: none;
    color: var(--color-white);
    outline: none;
    width: 100%;
    padding-left: 8px;
}

.select-container {
    display: flex;
    gap: 20px;
    background-color: var(--color-grey-10);
    border-radius: 12px;
    padding: 20px;
    flex-direction: column;
}
.select-container .select-group {
    flex: 1;
    border: 1px solid var(--color-grey-15);
    background-color: var(--color-grey-8);
    border-radius: 8px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px 14px;
    gap: 6px;
}

.select-container .select-group select {
    background-color: transparent;
    border: none;
    color: var(--color-gray-60);
    outline: none;
    width: 100%;
    padding: 14px 0;
}

.select-container .select-group select option {
    background-color: var(--color-grey-15);
    color: var(--color-white);
}

.filter-container img {
    width: 20px !important;
    height: 20px !important;
    object-fit: contain !important;
    position: inherit !important;
}

.display-flex {
    display: flex !important;
}

.properties-hero {
    background: linear-gradient(
    90deg,
    #262626b0 0%,
    rgba(38, 38, 38, 0) 53%
    );
}

.properties-hero .hero-grid {
    gap: 0
}

.properties-section .display-flex{
    background-color: transparent !important;
    border: none !important;
}


/* ========== DESKTOP STYLES (768px and up) ========== */

@media (min-width: 768px) {

    .banner-content {
        font-size: 1rem;
    }
    .header-cta {
        display: inline-flex;
        min-width: fit-content;
    }
    .main-nav {
        justify-content: center;
    }

    .top-banner .banner-inner {
        justify-content: center !important;
        margin: 0 auto;
    }

    .banner-close {
        width: 18px;
        height: 18px;
        top: auto;
    }

    .button-close img {
        width: 15px;
        height: 15px;
    }
    
    .site-header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        width: auto;
        margin: 0;
    }

    .nav-menu.active {
        display: none;
    }

    .menu-toggle {
        display: none;
    }

    .main-nav .header-cta {
        display: none;
    }

    .hero {
        padding: 0;
    }

    .hero .hero-home .container {
        gap: 20px;
        min-height: 100svh;
    }

    .hero-home .hero-grid {
        grid-template-areas:
            "area2 area1"
            "area3 area1"
            "area4 area1";
        margin-inline: 0;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        max-width: none;
        gap: 10px !important;
        max-width: 1200px;
        margin: auto;
    }

    .hero-home .subcontainer {
        min-width: auto;
    }

    .hero-home .subcontainer:first-child img:nth-child(2) {
        height: 100%;
    }

    .hero-home .subcontainer:first-child img:nth-child(3) {
        position: absolute;
        top: 12%;
        left: -10%;
        width: 100%;
        /* height: 100%; */
        max-width: 110px;
        z-index: 2;
    }

    .hero-home .area-2 {
        padding: 2rem 2.8rem !important;
        padding-top: 60px !important;
        margin: 0;
        margin-left: auto;
        max-width: 630px;
        padding-bottom: 0 !important;
    }

    .hero-home .area-3 {
        padding: 0 2.8rem !important;
    }


    .hero-home .area-3 .button-group {
        display: flex !important;
        justify-content: start;
    }

    .area-4 .cards-grid {
        display: flex;
        flex-wrap: wrap;     
        gap: 20px;
        padding: 0 1rem !important;
    }

    .area-4 .cards-grid > * {
        flex: 0 0 calc(32% - 13.33px);
    }

    .hero-home .area-3 .cards-grid:last-child {
        grid-column: auto;
    }
    

    .team-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero-services .hero-grid, .section-info .section-info-grid {
        grid-template-areas:
            "area2"
            "area4";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
    }

    .hero-services .area-1,
    .hero-services .area-3 {
        display: none;
    }

    .section-info .area-1, .section-info .area-3 {
        display: none;
    }

    .hero-services .area-2 {
        padding: 120px 1rem !important;
        max-width: none;
    }
    

    .hero-services h1 {
        font-size: 2.5rem;
        margin: 0 auto;
        margin-bottom: 1rem;
        max-width: 1200px;
    }

    .hero-services h2 {
        margin: 0 auto;
        max-width: 1200px;
    }

    .hero-services .area-4 {
        max-width: 1200px;
        margin: 0 auto;
    }

    .hero-contact .cards-grid {
        display: grid;
    }
    .hero-contact .area-4 .cards-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .hero-contact .area-4 .cards-grid .card {
        grid-column: span 1;
        position: relative;
    }

    .section-info-grid .area-2 {
        padding-left: 1rem !important;
    }

    .section-info-grid .area-2, .section-info-grid .area-4 {
        padding: 100px 1rem;
        padding-bottom: 40px;
        max-width: none;
    }

    .section-info-grid .area-4 {
        padding-top: 40px !important;
    }

    .section-info-grid .area-2, .section-info-grid .area-4 {
        max-width: 1200px;
        margin: 0 auto;
    }

    .service-first-subsection .area-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .service-first-subsection .area-4 .info-item {
        flex: none;
    }

    .first-section-info .area-2 {
        margin-bottom: 1rem;
    }

    .first-section-info .info-subsection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .action-cards-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    .action-card {
        padding: 40px;
    }

    .action-card__icon-wrapper {
        width: 80px;
        height: 80px;
    }

    .action-card__icon {
        width: 36px;
        height: 36px;
    }

    .action-card__title {
        font-size: 16px;
    }

    .contact-form .area-3 {
        display: block !important;
        max-width: none;
        margin: 0 auto;
        padding: 0 1rem !important;
        border: 0;
    }

    .contact-form .area-3 form {
        margin: 0 auto;
        padding: 40px !important;
        border: 1px solid var(--color-grey-15);
        border-radius: 12px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }

    .contact-form .area-3 form .form-group:nth-child(7) {
        grid-column: span 3 !important;
    }

    .contact-form .area-3 form .form-group:nth-child(8) {
        grid-column: span 2 !important;
    }

    .contact-form .area-3 form button {
        grid-column: span 1 !important;
        max-width: 200px;
        justify-self: end;
    }

    .contact-form .form-section {
        grid-template-areas: 
        "area2"
        "area3";
    }

    .contact-form .contact-location {
        grid-template-columns: 1fr;
        padding-inline: 1rem !important;
    }

    .contact-form .area4 {
        display: none;;
    }

    .properties-section .section1 {
        display: flex;
    }

    .properties-section .section1 .subcontainer:first-child {
        max-height: 130px !important;
    }

    .filter-container {
        gap: 0px !important;
        position: relative;
        top: -3.5rem;
    }

    .filter-container .search-bar {
        width: 80%;
        max-width: 1000px;
        margin: auto;
    }

    .filter-container .select-container {
        flex-direction: row;
        padding: 10px;
    }


    .carousel-subsection {
        grid-template-columns: 1fr !important;
    }

    .footer {
        padding: 80px 20px;
    }

    .footer-container {
        grid-template-columns: 1fr 2fr;
        gap: 40px;
        padding-inline: 1rem;
    }

    .footer-grid {
        grid-template-columns: repeat(5, 1fr);
        gap: 40px;
    }

    /* Remove vertical line for desktop */
    .footer-grid::before {
        display: none;
    }

    .footer-card {
        border-bottom: none;
    }

    .footer-bottom {
        flex-direction: row;
        gap: 20px;
        text-align: left;
        padding-top: 0;
    }

    .footer-social {
        gap: 15px;
    }

    .footer-social a {
        margin: 0;
    }

    .banner-close {
        width: 32px;
        height: 32px;
        right: 10px;
    }

    .footer-cta-container {
        text-align: left !important;
        display: grid;
        grid-template-areas: 
        "title cta"
        "text cta";
        gap: 20px;
    }

    .footer-cta-container {
        max-width: 1200px;
    }

    .footer-cta-title {
        grid-area: title;
    }

    .footer-cta-text {
        grid-area: text;
    }

    .footer-cta-btn {
        grid-area: cta;
        width: fit-content;
        height: fit-content;
        margin: auto;
    }


    .section-info h2 {
        max-width: 80%;
    }

    .info-section .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 60px;
    }

    .contact-form .values-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: stretch;
    }

    .contact-form .values-card .content-wrapper {
        box-sizing: border-box;
    }

    

    .info-achievements, .info-navigating {
        grid-template-columns: repeat(3, 1fr);
        border: none;
        border-radius: none;
        box-shadow: none;
        padding: 0 !important;
        gap: 20px;
        align-items: stretch;
    }

    .info-achievements > * {
        border: 1px solid var(--color-grey-15);
        padding: 24px;
        border-radius: 12px;
        background-color: var(--color-grey-8);
        box-shadow: 0 0 0 6px #191919;
    }

    /* Make achievements feel more compact */
    .achievements .info-item {
        flex-direction: column;
    }

    .achievements h3 {
        font-size: 2rem;
        color: var(--color-purple-60);
    }

    .testimonials-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .slide { min-width: 50%; }

}

@media (min-width: 1200px) {
    .team-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .testimonials-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .slide { min-width: 33.3333%; }

    .slide-content {
        max-width: 400px;
    }

    .controls {
        width: 100vw;
    }
}



/* ==============================
   Scroll To Top Button
================================= */

.scroll-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: none;
    background: #703BF7;
    color: #ffffff;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);

    transition: all 0.3s ease;
    z-index: 999;
}

.scroll-top-btn.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.scroll-top-btn:hover {
    background: #5a2fd1;
    transform: translateY(-3px);
}