/* ===============================
   Urbanist Font Family
=============================== */

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}


:root {

    /* ========== ABSOLUTE COLORS ========== */
    --color-white: #FFFFFF;
    --color-black: #000000;

    /* ========== PURPLE SHADES ========== */
    --color-purple-60: #703BF7;
    --color-purple-65: #8254F8;
    --color-purple-70: #946CF9;
    --color-purple-75: #A685FA;
    --color-purple-90: #DBCEFD;
    --color-purple-95: #EDE7FE;
    --color-purple-97: #F4F0FE;
    --color-purple-99: #FBFAFF;

    /* ========== WHITE SHADES ========== */
    --color-white-90: #E4E4E7;
    --color-white-95: #F1F1F3;
    --color-white-97: #F7F7F8;
    --color-white-99: #FCFCFD;

    /* ========== GRAY SHADES ========== */
    --color-grey-8: #141414;
    --color-grey-10: #1A1A1A;
    --color-grey-15: #262626;
    --color-gray-20: #333333;
    --color-gray-30: #4D4D4D;
    --color-gray-40: #666666;
    --color-gray-50: #808080;
    --color-gray-60: #999999;

    /* ========== TYPOGRAPHY ========== */
    --font-primary: 'Urbanist', sans-serif;

    /* Font Weights */
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;


}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-grey-8);
  color: var(--color-white);
  font-family: var(--font-primary);
  margin: 0;
}

.container{
  width:90%;
  max-width: 1200px;
  margin:auto;
}

.hero{
  padding:120px 0;
  text-align:center;
}

.site-header{
  background: var(--color-grey-10);
}

.site-header .container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 13px 0;
  font-size: 1rem;
}

/* Banner Styles */
.top-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('../images/abstract-one.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% center;
    color:#fff;
    padding: 5px 0;
    transition: all 0.3s ease;
}

.top-banner .container {
    justify-content: center;
    font-size: 1.1rem;
}

.banner-inner{
    display:flex;
    justify-content:center;
    align-items:center;
}

.banner-text{
    margin:0;
}

.banner-link{
    margin-left: 5px;
    color:#fff;
    font-weight: var(--weight-regular);
    text-decoration:underline;
}

.banner-link:hover{
    opacity: 0.8;
}

.banner-close {
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.201);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 10px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.banner-close:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


/* Nav Stlyles  */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 35px;
    width: auto;
}

.main-nav {
    display:flex;
    align-items:center;
}

.nav-menu {
    display:flex;
    /* gap:30px; */
    list-style:none;
    padding:0;
    margin:0;
}

.nav-menu a {
    text-decoration:none;
    color:var(--color-white);
    font-weight:var(--weight-medium);
    transition: 0.3s;
    padding: 14px 24px;
    border: 1px solid transparent;
}

.nav-menu a:hover {
    border: 1px solid var(--color-grey-15);
    border-radius: 10px;
    color: var(--color-white);
    background: var(--color-grey-8);
}

/* Active Menu Item */
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-parent > a,
.nav-menu .current-menu-ancestor > a {
    border: 1px solid var(--color-grey-15);
    border-radius: 10px;
    background: var(--color-grey-8);
    padding: 14px 24px;
}

/* Hover should override active */
.nav-menu li:hover > a {
    border: 1px solid var(--color-grey-15);
    border-radius: 10px;
    background: var(--color-grey-8);
}

/* When hovering any menu item,
   remove active highlight from the others */
.nav-menu:has(li:hover) 
li.current-menu-item:not(:hover) > a,
.nav-menu:has(li:hover) 
li.current-menu-parent:not(:hover) > a,
.nav-menu:has(li:hover) 
li.current-menu-ancestor:not(:hover) > a {
    background: transparent;
    border-color: transparent;
}

/* CTA Button */
.header-cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background: var(--color-grey-8);
    color: var(--color-white);

    padding: 14px 28px;
    border-radius: 12px;
    border: 1px solid var(--color-grey-15);

    font-weight: var(--weight-medium);
    text-decoration: none;

    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;

    cursor: pointer;
}

/* Smooth hover lift + glow */
.header-cta:hover {
    background: var(--color-grey-10);
    color: var(--color-white);
    border-color: var(--color-gray-20);
}

/* Modern Shine Effect */
.header-cta::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.096),
        transparent
    );
    transition: 0.5s;
}

.header-cta:hover::after {
    left: 100%;
}


/* Hide Menu Toggle Button on Desktop  */
.menu-toggle {
    display:none;
}


.footer {
  background: #0f172a;
  color: #cbd5e1;
  padding: 80px 20px;
  position: relative;
  overflow: hidden;
}

/* Background Text */
.footer-bg-text {
  position: absolute;
  font-size: 15vw;
  font-weight: bold;
  opacity: 0.05;
  color: #2c9c49;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.site-footer .container {
    min-width: 100%;
}

/* Container */
.footer-container {
    max-width: 1200px;
    margin: auto;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    align-items: start;
    margin: 50px auto;
    overflow: hidden;
    padding-inline: 1rem;
}

/* Logo */
.footer-logo {
  height: 40px;
  transition: 0.3s;
}

/* Subscribe Form */
.footer-subscribe {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.footer-subscribe input {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid rgba(255,255,255,0.2);
  background: transparent;
  color: #fff;
  border-radius: 6px;
  outline: none;
}

.footer-subscribe input::placeholder {
  color: rgba(255,255,255,0.5);
}

.footer-subscribe button {
  padding: 10px 18px;
  border: none;
  background: var(--color-purple-60);
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-subscribe button:hover {
  opacity: 0.8;
}

/* Grid */
.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-card h3 {
  color: var(--color-gray-60);
  margin-bottom: 15px;
}

.footer-card ul {
  list-style: none;
  padding: 0;
}

.footer-card ul li {
  margin-bottom: 20px;
}

.footer-card ul li a {
  text-decoration: none;
  color: inherit;
  font-weight: var(--weight-medium);
  transition: 0.3s;
}

.footer-card ul li a:hover {
  color: var(--color-purple-60);
  transform: translateX(5px);
  display: inline-block;
}

/* Bottom */
.footer-bottom-wrapper {
  width: 100%;
  background-color: var(--color-grey-10);
  padding: 10px 0;
  margin-top: 60px;
}


.footer-bottom-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 15px;
}


.footer-social .social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--color-grey-8);
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease;
}


.footer-social .social-link:hover {
    background: var(--color-purple-60);
    color: #fff;
    transform: translateY(-3px);
}


.footer-social .social-link img {
  width: 20px;
  height: 20px;
}

/* Responsive Styles */
@media (max-width:768px) {
    .site-header .container {
        flex-direction:column;
        align-items:flex-start;
    }

    .nav-menu {
        display:none;
        flex-direction:column;
        width:100%;
        margin-top:10px;
    }

    .nav-menu.active {
        display:flex;
    }

    .menu-toggle {
        display:block;
        background:none;
        border:none;
        color:#fff;
        font-size:24px;
        cursor:pointer;
    }

    .banner-close {
        width: 28px;
        height: 28px;
        right: 8px;
    }


    .footer-container {
        grid-template-columns: 1fr;
        gap: 60px;
        padding-inline: 2.3rem;
    }

    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    /* Vertical Line in the Middle */
    .footer-grid::before {
        content: "";
        position: absolute;
        top: 62%;
        left: 50%;
        width: 1px;
        height: 75%;
        background: rgba(255, 255, 255, 0.1);
        transform: translate(-50%, -50%);
    }

    .footer-bottom {
        flex-direction: column-reverse;
        gap: 10px;
        text-align: center;
        padding-top: 10px;
    }

    .footer-social {
        gap: 5px;
    }

    .footer-social a {
        margin: 0 10px;
    }

    .footer-card {
        border-bottom: 1px solid var(--color-grey-15);
    }
}


